{% extends 'applications/base.html' %}

{% block body %}
<a href="{% url 'applications:applications' %}">Back to applications</a>
<div>
  <h2>Application to {{ application.position.company.company_name }}</h2>
  <p>{{ application.position.position_name }}</p>
  <p>Started on {{ application.start_date }}</p>
  <p>Status: {{ application.status }}</p>
  {% if application.end_date %}
  <strong>Application terminated on {{ application.end_date }}</strong>
  {% endif %}
  <div>
    <h2>Timeline</h2>
    {% if application.event_set %}
    <ul>
      {% for event in application.event_set.all %}
      <li>
        <a href="{% url 'applications:delete_event' application.id event.id %}" onclick="return confirm('Delete this event?')">&#x274c;</a>
        <p>{{ event.description }}</p>
        <p>On {{ event.date }}</p>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No events so far.</p>
    {% endif %}
    <a href="{% url 'applications:new_event' application.id %}">Create new event</a>
  </div>
</div>
{% endblock %}
