{% extends 'applications/base.html' %}

{% block body %}
<h1>Profile</h1>
{% if messages %}
  {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <strong style="color:green">{{ message }}</strong>
    {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <strong style="color:red">{{ message }}</strong>
    {% endif %}
  {% endfor %}
{% endif %}
<form action="{% url 'applications:view_profile' %}" method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Update profile" />
</form>
{% endblock %}
